/* ===============
    Global Styles
================*/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Taviraj:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --secondary-color: #691852;
  --light-primary-color: #fff;
  --dark-primary-color: #000;
  --grey-color: #cacaca;
}

.container {
  margin: 0;
  padding: 0;
  max-width: none;
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.container-2 {
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
}

.sidebar {
  box-shadow: 0 1px 0.5rem 0 var(--grey-color);
}

.auth-btn {
  margin-top: 2rem;
  padding: 0.2rem 0;
  font-size: 1.2rem;
  background: var(--secondary-color);
  color: var(--light-primary-color);
}

.container-2 > form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

main {
  overflow: hidden;
  width: 100%;
}

.content {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}

.bigger {
  flex: 1 1 65%;
}

.smaller {
  flex: 1 1 35%;
}

.company-title {
  width: 100%;
}

.fs-4 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 2.3rem !important;
}

.form-control {
  appearance: auto;
  -webkit-appearance: auto;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active i {
  background: var(--secondary-color);
  color: #fff;
}

.nav-pills .nav-link,
.nav-pills .nav-link i {
  color: var(--grey-color);
}

.admin-settings li a:hover {
  background: var(--secondary-color);
  color: var(--light-primary-color);
}

.dropdown-toggle::after {
  color: #000;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.search-bar {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

.search-bar input {
  border: none;
  height: 100%;
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

.search-bar input:focus{
  outline: none;
}

.add-buttons {
  display: flex;
  gap: 1rem;
}

.add {
  background: none;
}

.add a {
  display: flex;
  gap: 0.4rem;
  padding: 0.2rem 0.3rem;
  align-items: center;
  color: var(--dark-primary-color);
  background: none;
}

.add a {
  text-decoration: none;
}

.bigger > div + div {
  margin-top: 3rem;
}

.all_users .header {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sort input {
  outline: none;
  padding: 0.5rem;
}

.table {
  position: relative;
  background-color: rgb(230, 230, 230);
  height: 70vh;
}

table {
  width: 100%;
  background-color: rgb(230, 230, 230);
  overflow-y: scroll;
}

table tbody tr {
  border-bottom: 2px solid var(--grey-color);
}

table th{
    color: var(--light-primary-color);
}

table th,
table td {
  border: none;
  padding: 0.7rem;
  max-width: 10rem;
  overflow: scroll;
}

table thead {
  background-color: var(--secondary-color);
}

table img {
  margin: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.requests_table {
  min-width: 100%;
}

.requests_table tr td select {
  padding: 0.2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
}

.latest-requests .table {
  height: 50vh;
}

.requests_table tr td button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.latest-requests tr td button {
  font-size: 0.7rem;
}

@media (max-width: 940px) {
  .requests_table tr td button {
    font-size: 0.7rem;
  }
}

.requests_table tr td:nth-child(5) button {
  background: var(--secondary-green);
}
.requests_table tr td:nth-child(6) button {
  background: #7c2828;
}

.requests_table tr td button  {
  color: var(--light-primary-color);
}

.all_users thead tr th:last-of-type {
  width: 2rem;
}

.cate thead tr th:last-of-type {
  width: 10rem;
}

.cate {
  max-height: 30vh;
}

.statistics .main {
  overflow: scroll;
  display: flex;
  gap: 1rem;
  color: var(--light-primary-color);
  color: #fff;
}

.books_statistics,
.users_statistics {
  overflow: scroll;
}

.statistics .category {
  background: linear-gradient(
      0deg,
      rgba(9, 9, 9, 0.627),
      rgba(255, 0, 150, 0.3)
    ),
    url("/static/images/smaller-bg-img.jpg") fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  min-width: 250px;
}

.discover-img {
  height: 27%;
}

.discover-img .main {
  height: 100%;
}

.discover-img .img {
  background: url("/static/images/reset-password-img.jpg");
  background-size: contain;
}

.statistics .category p {
  color: var(--light-primary-color);
  font-size: 1rem;
}

.statistics .category p:first-of-type {
  font-size: 2rem;
}

.statistics > div + div {
  margin-top: 1rem;
}

.top_rated {
  justify-content: space-evenly;
}

.top_rated div h4 {
  text-align: center;
}

.top_rated > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_rated > div + div {
  margin-top: 2rem;
}

.top_rated .view_all {
  width: 50%;
  padding: 0.5rem;
  background: var(--secondary-color);
}

.top_rated .view_all a {
  text-decoration: none;
  color: var(--light-primary-color);
}

.row-book {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  justify-content: space-evenly;
  align-items: end;
}

.items {
  background: #f1f0f0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.empty {
  font-family: "taviraj", sans-serif;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.empty i {
  font-size: 4rem;
  color: var(--secondary-color);
}

.hidden {
  display: none;
}

.all-books {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  width: 100%;
  gap: 1rem;
}

.book-container {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.book-container img {
  height: 10rem;
}

.book-container .text {
  flex: 1 1 auto;
}

.book-container form, .video-container form{
  display:inline-block;
}

.book-container form:first-of-type button, .video-container form:first-of-type button{
  background: #FDE2F3;
  color: var(--secondary-color);
}

.book-container .text button + button, .video-container .desc button + button {
  margin-left: 1rem; 
}

.book-container form button, .video-container form button {
  text-decoration: none;
  color: white;
  border: 1px solid var(--secondary-color) ;
  border-radius: .2rem;
  background: var(--secondary-color);
  padding: 0.3rem;
  width:5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.all-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  margin-top: 1.5rem;
  justify-content: space-evenly;
  gap: 1rem;
}

video {
  width: 100%;
}

.video-container .desc {
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  flex: 1 1 auto;
  padding: 1rem;
}

 .video-container button{
  font-size: 1rem;
  width: 5rem;
  padding: 0.5rem;
}

.video-container .desc p {
  font-size: 1.2rem;
}

.small {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.all-categories{
  display: flex;
  flex-direction: column;
  margin-top: 2rem ;
}

.delete-category {
  background-color: var(--secondary-color);
  width: 100%;
  padding:.5rem 2rem;
  border-radius: 1rem;
  border: none;
  margin: 2rem 0;
  align-self: center;
  color: var(--light-primary-color);
}

@media (max-width: 1100px) {
  .content {
    flex-direction: column;
  }

  .bigger {
    width: 100%;
  }

  .smaller {
    width: 100%;
  }

  .users_statistics,
  .books_statistics {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .users_statistics > div + div,
  .books_statistics > div + div {
    margin: 0;
  }

  .top_rated > div + div {
    margin: 0;
  }
  
}

@media (max-width: 800px) {
  .sidebar {
    width: 10%;
  }
  .sidebar > a {
    padding: 0.5rem;
  }
  .sidebar > a i {
    font-size: 1.5rem;
  }

  .me-2 {
    margin: 0 !important;
  }
  .big {
    display: none !important;
  }
  .small {
    display: block !important;
  }

  .dropdown > a {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  html {
    display: none;
  }
}


:root {
  /*========== colors=========== */
  --primary-purple: #dfdcfaff;
  --primary-blue: rgb(198, 229, 244);
  --secondary-blue: rgb(146, 213, 247);
  --primary-pink: rgb(250, 239, 229);
  --primary-green: rgb(221, 243, 212);
  --background-green: #bae6a7ff;
  --secondary-purple: #7d71feff;
  --secondary-green: #4db223ff;
  --secondary-orange: #ed7724ff;
  --primary-orange: rgba(255, 192, 147, 0.735);
  --white: #fff;
  --black: #000;
  --gray: rgba(20, 20, 20, 0.607);
  --transparent-color: rgba(0, 0, 0, 0.06);
  --border-color: rgba(0, 0, 0, 0.1);
}

/* ====== PROJECT SECTION ====== */

.charts {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

#total {
  overflow: scroll;
}

.reports div {
  min-height: 136px;
  display: inline;
}

.reports div + div {
  margin: 0;
}

.reports {
  width: max-content;
  justify-content: space-evenly;
  display: flex;
  gap: 1.2rem;
}

/* ====== REQUESTS SECTION ======= */

/*  ========= SEMI CIRCLES =========  */
#percentage-circles {
  display: flex;
  justify-content: space-evenly;
}

.bigger-circle {
  height: 10rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bigger-circle::after {
  content: "";
  position: absolute;
  top: 0;
  height: 21rem;
  width: 21rem;
  border-radius: 30rem;
  border: 3.2rem solid;
}

.circle-1::after {
  border-color: rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.06) var(--secondary-color)
    var(--secondary-color);
  transform: rotate(135deg);
}

.circle-2::after {
  border-color: var(--transparent-color) var(--transparent-color)
    var(--secondary-green) var(--secondary-green);
  transform: rotate(25deg);
}

.bigger-circle p {
  line-height: 0.8em;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

.bigger-circle p span {
  font-size: 0.45em;
  font-weight: normal;
}

/* ======= STRT LINE ========  */
#percentage-linear {
  display: none;
  font-size: rem;
}

.perc {
  margin-bottom: 1em;
}

.big-line {
  height: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: var(--border-color);
}

.big-line::after {
  content: "";
  position: absolute;
  left: 0;
  height: 1.5em;
  width: 0%;
}

.line-1::after {
  background: var(--secondary-color);
  width: 50%;
}
.line-2::after {
  background: var(--secondary-green);
  width: 25%;
}

@media (max-width: 950px) {
  #percentage-circles {
    display: none;
  }

  #percentage-linear {
    display: block;
  }
}

/* ACCEPTED UNACCEPTED REQUESTS*/
.description {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-evenly;
  margin: 1.5rem auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.t-des {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.description span {
  width: 10px;
  height: 10px;
  /* margin-bottom: 7%; */
}

.t-des span {
  background-color: var(--border-color);
}

.t-des:first-of-type span {
  background: var(--secondary-color);
}
.t-des:nth-child(3) span {
  background: var(--secondary-green);
}

@media (max-width: 400px) {
  .description {
    flex-wrap: wrap;
    width: 100%;
  }
}

/*  ========== BUDGET OVERVIEW ==========  */
#navigation {
  position: sticky;
  top: -1rem;
  background: var(--light-primary-color);
  z-index: 1;
  padding-bottom: 1rem;
}

#links {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  background: var(--transparent-color);
  padding: 0.2em;
  border-radius: 0.7em;
  text-align: center;
}

#links div {
  display: flex;
  padding: 0.5rem;
  flex: 1 1 100%;
  border-radius: 0.5em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#links div a {
  text-decoration: none;
  color: var(--dark-primary-color);
}

@media (max-width: 996px) {
  .charts {
    flex-direction: column;
  }
}

.white {
  background: var(--white);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.purple {
  color: var(--secondary-purple);
}

.fa-align-left {
  transform: rotatez(180deg);
  transform: rotatex(180deg);
}

/* =========== TOTAL INCOME ============ */
#weekly-charts {
  color: var(--light-primary-color);
  background: linear-gradient(var(--secondary-color), rgb(9, 9, 9));
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  max-height: 40rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  flex-basis: 50%;
}

.increase {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.increase-div {
  flex: 1 1 auto;
  padding: 1em;
  border-radius: 1em;
  background: var(--white);
  gap: 1rem;
}

/* @media (max-width: 531px) {
  .income {
    flex-wrap: wrap;
  }

  .abt-money {
    width: 100%;
  }
}
 */

.right3 {
  float: right;
}

.downloads,
.users {
  font-size: var(--fs-400);
  font-weight: 600;
  line-height: 1em;
}

.desc {
  font-weight: normal;
  font-size: 0.8rem;
}

/* ============= CHART SECTION 2 for total income =============== */
.chart-section-2 {
  display: flex;
  /* gap: 1rem; */
  width: 100%;
  margin-top: 1rem;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.monthly-bars {
  position: absolute;
  height: 100%;
  min-width: 100%;
  margin-left: 1rem;
  /* top: 0; */
}

.money-made {
  color: var(--light-primary-color);
  margin-bottom: 2rem;
}

.money-made ul {
  width: max-content;
  padding: 0;
  display: flex;
  gap: 1rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.values li {
  color: var(--light-primary-color);
  list-style-type: none;
}

/* .avg {
  position: absolute;
  top: 3%;
  width: 100%;
}

.avg-money {
  background: var(--white);
  position: relative;
  left: 18%;
  width: 8em;
  height: 4em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  padding: 0.4em 0.7em;
}

.val {
  font-size: 1.32em;
  font-weight: 900;
  line-height: 1em;
}

.desc-4 {
  font-weight: normal;
}

.pointer {
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: -0.3em;
  left: 40%;
  background: var(--white);
  transform: rotate(50deg);
}

.dotted-line {
  width: 100%;
  border-bottom: 2px dashed var(--border-color);
} */

.days {
  position: relative;
  top: 90%;
  width: 100%;
  display: flex;
  text-transform: capitalize;
  gap: 1.2rem;
  justify-content: space-evenly;
  color: var(--light-primary-color);
}

.days p {
  color: var(--light-primary-color);
}

.bars {
  color: var(--light-primary-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  position: absolute;
  gap: 1rem;
  height: 85%;
  width: 100%;
  transform: rotate(180deg);
}

.bars > div {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  width: 2rem;
  height: 0%;
}

.bar {
  width: 1em;
  height: 0%;
  background: #691852;
  border-radius: 0.1rem;
}

.bars > div .bar:nth-child(2) {
  background-color: white;
}

.bars:last-child {
  height: 50%;
}

.bars :nth-child(11) {
  height: 70%;
}

.bars :nth-child(10) {
  height: 35%;
}

.bars :nth-child(9) {
  height: 50%;
}

.bars :nth-child(8) {
  height: 70%;
}

.bars :nth-child(7) {
  height: 90%;
}
.bars :nth-child(6) {
  height: 55%;
}
.bars :nth-child(5) {
  height: 35%;
}
.bars :nth-child(4) {
  height: 80%;
}
.bars :nth-child(3) {
  height: 50%;
}
.bars :nth-child(2) {
  height: 30%;
}
.bars :first-child {
  height: 100%;
}

.description p {
  margin: 0;
}

#weekly-charts + .description .t-des:first-of-type span {
  background: var(--secondary-color);
}
#weekly-charts + .description .t-des:last-of-type span {
  background: var(--light-primary-color);
  border: 1px solid;
}
