{% extends "/admin/base_admin.html" %} {%block title %}Books{% endblock %} {%
block main %}

<div class="main-top">
  <div class="search-bar">
    <label for="d_search"></label>
    <input
      type="search"
      name=""
      id=""
      placeholder="Search books, authors"
    />
    <i></i>
  </div>

  <div class="add-buttons">
    <button class="add">
      <a href="{{url_for('admin.new_book')}}">
        <i class="bi bi-journal-plus"></i>
        Add Book
      </a>
    </button>
  </div>
</div>

<div class="all-books">
  {% for book in books %}
  <div class="book-container">
    <img src="/static/images/covers/{{ book.cover_path }}" alt="" />
    <div class="text">
      <p>{{ book.author }}</p>
      <p>{{ book.title }}</p>
      <form action="/admin/books/{{ book.id }}/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form action="/admin/books/{{ book.id }}/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
