{% extends "/admin/base_admin.html" %} 
{%block title %}Books{% endblock %}


{% block main %}

<div class="main-top">
  <div class="search-bar">
    <label for="d_search"></label>
    <input
      type="search"
      name=""
      id=""
      placeholder="search books, authors, users, categories"
    />
    <i></i>
  </div>

  <div class="add-buttons">
    <button class="add-user">
      <a href="{{url_for('admin.new_book')}}">
        <i class="bi bi-journal-plus"></i>
        Add Book
      </a>
    </button>
  </div>
</div>

<div class="lib-item all-books">

  <div class="book-category">
     <div class="book-category-content row">
      <div class="col col-md-auto col-lg-auto">
        <img src="/static/images/book.jpeg" alt="" />
        <div class="text">
          <p>Author</p>
          <p>title</p>
          <button><a href="{{url_for('admin.edit_book')}}">Edit</a></button>
          <button><a href="{{url_for('admin.delete_book')}}">Delete</a></button>
        </div>
      </div>

      <div class="col col-md-auto col-lg-auto">
        <img src="/static/images/book.jpeg" alt="" />
        <div class="text">
          <p>Author</p>
          <p>title</p>
          <button><a href="{{url_for('admin.edit_book')}}">Edit</a></button>
          <button><a href="{{url_for('admin.delete_book')}}">Delete</a></button>
        </div>
      </div>

      <div class="col col-md-auto col-lg-auto">
        <img src="/static/images/book.jpeg" alt="" />
        <div class="text">
          <p>Author</p>
          <p>title</p>
          <button><a href="{{url_for('admin.edit_book')}}">Edit</a></button>
          <button><a href="{{url_for('admin.delete_book')}}">Delete</a></button>
        </div>
      </div>

      <div class="col col-md-auto col-lg-auto">
        <img src="/static/images/book.jpeg" alt="" />
        <div class="text">
          <p>Author</p>
          <p>title</p>
          <button><a href="{{url_for('admin.edit_book')}}">Edit</a></button>
          <button><a href="{{url_for('admin.delete_book')}}">Delete</a></button>
        </div>
      </div>
      <div class="col col-md-auto col-lg-auto">
        <img src="/static/images/book.jpeg" alt="" />
        <div class="text">
          <p>Author</p>
          <p>title</p>
          <button><a href="{{url_for('admin.edit_book')}}">Edit</a></button>
          <button><a href="{{url_for('admin.delete_book')}}">Delete</a></button>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock %}

