{% extends "/admin/base_admin.html" %} {%block title %}Books{% endblock %}
{%block main%}
<div class="main-top">
  <div class="search-bar" style="border: none;">
    <div class="col-sm-12 categories-list">
      <select class="form-control">
        <option disabled>Select category</option>
        <option value="all">All</option>
        {% for category in categories %}
        <option value="{{category.name}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="add-buttons">
    <button class="add">
      <a href="{{url_for('admin.new_category')}}">
        <i class="bi bi-collection"></i>
        Add Category
      </a>
    </button>
  </div>
</div>

<div class="all-categories">
  {% for category in categories %}
  <h3>{{category.name}}</h3>

  <div class="all-books">
    {% for book in category.books %}
    <div class="book-container">
      <img src="/static/images/covers/{{ book.cover_path }}" alt="" />
      <div class="text">
        <p>{{ book.author }}</p>
        <p>{{ book.title }}</p>
        <form action="/admin/books/{{ book.id }}/edit" method="get">
          <button type="submit">Edit</button>
        </form>
        <form action="/admin/books/{{ book.id }}/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="all-videos">
    {% for video in category.videos %}
    <div class="video-container">
      <video controls>
        <source src="/static/videos/{{video.file_path}}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="desc">
        <p><b>Title:</b> {{ video.title }}</p>
        <p><b>Description:</b> {{ video.description }}</p>

        <form action="/admin/videos/{{video.id}}/edit" method="get">
          <button type="submit">Edit</button>
        </form>

        <form action="/admin/videos/{{video.id}}/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>

  <form action="/admin/categories/{{category.id}}/delete" method="post">
    <button type="submit" class="btn delete-category">Delete Category</button>
  </form>

  {% endfor %}
</div>
{% endblock %}
<!--  {%block content2 %}
<div class="books_statistics statistics">
  <div class="category num_books">
    <p class="number">0</p>
    <p class="category_title">Total Books</p>
  </div>
  <div class="category book_categories">
    <p class="number">0</p>
    <p class="category_title">Categories</p>
  </div>
  <div class="category num_books">
    <p class="number">0</p>
    <p class="category_title">Total Downloded Books</p>
  </div>
  <div class="category audio">
    <p class="number">0</p>
    <p class="category_title">Total Videos</p>
  </div>
</div>
{% endblock %} -->
