{% extends "/admin/base_admin.html" %}
{%block title %}Dashboard{% endblock %}

{% block content %}
<div class="statistics">
  <h3>In the last <span class="time">30 days</span></h3>
  <div class="main">
    <div class="category num_books">
      <p class="number">{{ rentals_count }}</p>
      <p class="category_title">Rentals</p>
    </div>
    <div class="category num_users">
      <p class="number">{{ access_requests_count }}</p>
      <p class="category_title">Access Requests</p>
    </div>
    <div class="category num_downloads">
      <p class="number">{{ downloads_count }}</p>
      <p class="category_title">Downloads</p>
    </div>
  </div>
</div>

<div class="latest-requests">
  <h1>Latest Requests</h1>
  <div class="table">
    <table class="requests_table">
      <thead>
        <tr>
          <th>Request Id</th>
          <th>Book Id</th>
          <th>User Id</th>
          <th>Specify Date Due</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      {% for access_request in access_requests %}
      <tr>
        <td>{{ access_request.id }}</td>
        <td>{{ access_request.book.title }}</td>
        <td>{{ access_request.user_id }}</td>
        <td>
          <select name="" id="days">
            <option disabled>Select due date</option>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="21">21 days</option>
            <option value="28">28 days</option>
          </select>
        </td>
        <td>
          <form class="grant-request" action="/grant-access-request/<int:request_id>" method="post">
            <input style="display:none" type="number" name="due_date" id="due_date" value="">
            <button type="submit">Accept Request</button>
          </form>
        </td>
        <td>
          <form action="/reject-access-request/<int:request_id>" method="post">
            <button type="submit">Reject Request</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div class="empty {{ hidden if access_requests_count < 1}}">
      <h1>NO REQUESTS</h1>
      <i class="bi bi-emoji-frown-fill"></i>
    </div>
  </div>
</div>
{% endblock %}

{% block content2 %}
<div class="top_rated row">
  <div class="top_rated_book col col-md-auto col-lg-auto">
    <h4>Top rated books</h4>
    <div class="items">
      {% for book in popular_books %}
      <div class="row-book">
        <img src="/static/images/covers/{{book.cover_path}}" alt="" width="60" />
        <p><strong>Title:</strong> {{book.title}} </br> <span>
          <strong>Author:</strong> {{book.author}}</span></p>
      </div>
      {% endfor %}
    </div>
    <button class="view_all"><a href="{{url_for('admin.books')}}">View all books</a></button>
  </div>

  <div class="top_rated_category col col-md-auto col-lg-auto">
    <h4>Top rated categories</h4>
    <div class="items">
      {% for category in popular_categories %}
      <div class="row-book">
        <h1>{{category.name}}</h1>
      </div>
      {% endfor %}
    </div>
    <button class="view_all"><a href="{{url_for('admin.categories')}}">View all categories</a></button>
  </div>
</div>
{% endblock %}