{% extends "/admin/base_admin.html" %}
{%block title %}Dashboard{% endblock %}

{% block content %}
<div class="statistics">
  <h3>In the last <span class="time">7 days</span></h3>
  <div class="main">
    <div class="category num_books">
      <p class="number">{{ rentals_count }}</p>
      <p class="category_title">Rentals</p>
    </div>
    <div class="category num_users">
      <p class="number">{{ access_requests_count }}</p>
      <p class="category_title">Access Requests</p>
    </div>
    <div class="category num_downloads">
      <p class="number">{{ downloads_count }}</p>
      <p class="category_title">Downloads</p>
    </div>
  </div>
</div>

<div class="latest-requests">
<h1>Latest Requests</h1>
  <div class="table">
    <table class="requests_table">
      <thead>
        <tr>
          <th>Request Id</th>
          <th>Book Id</th>
          <th>User Id</th>
          <th>Specify Date Due</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tr>
        <td>24567890876</td>
        <td>My stone heart</td>
        <td>Stephanie</td>
        <td>
          <select name="due" id="due_date">
            <option disabled>Select due date</option>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="21">21 days</option>
          </select>
        </td>
        <td>
          <button><a href="/accept">Accept Request</a></button>
        </td>
        <td>
          <button><a href="/reject">Reject Request</a></button>
        </td>
      </tr>
      <tr>
        <td>24567890876</td>
        <td>My stone heart</td>
        <td>Stephanie</td>
        <td>
          <select name="due" id="due_date">
            <option disabled>Select due date</option>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="21">21 days</option>
          </select>
        </td>
        <td>
          <button><a href="/accept">Accept Request</a></button>
        </td>
        <td>
          <button><a href="/reject">Reject Request</a></button>
        </td>
      </tr>
    </table>

    <div class="empty hidden">
      <h1>NOTHING YET</h1>
      <i class="bi bi-emoji-frown-fill"></i>
    </div>
  </div>
</div>
{% endblock %}

{% block content2 %}
<div class="top_rated row">
  <div class="top_rated_book col col-md-auto col-lg-auto">
    <h4>Top rated books</h4>
    <div class="items">
      <div class="row-book">
        <img src="/static/images/girl-reading.png" alt="" width="60" />
        <p> <b>honest woman</b> </br> <span>Igne Moore</span></p>
        <p>18+ downloads</p>
      </div>
      <div class="row-book">
        <img src="/static/images/girl-reading.png" alt="" width="60" />
        <p> <b>honest woman</b> </br> <span>Igne Moore</span></p>
        <p>18+ downloads</p>
      </div>
      <div class="row-book">
        <img src="/static/images/girl-reading.png" alt="" width="60" />
        <p> <b>honest woman</b> </br> <span>Igne Moore</span></p>
        <p>18+ downloads</p>
      </div>
    </div>
    <button class="view_all"><a href="{{url_for('admin.books')}}">View all books</a></button>
  </div>

  <div class="top_rated_category col col-md-auto col-lg-auto">
    <h4>Top rated categories</h4>
    <div class="items">
      <div class="row-book">
        <img src="/static/images/girl-reading.png" alt="" width="60" />
        <p> <b>honest woman</b> </br> <span>Igne Moore</span></p>
        <p>18+ downloads</p>
      </div>
      <div class="row-book">
        <img src="/static/images/girl-reading.png" alt="" width="60" />
        <p> <b>honest woman</b> </br> <span>Igne Moore</span></p>
        <p>18+ downloads</p>
      </div>
      <div class="row-book">
        <img src="/static/images/girl-reading.png" alt="" width="60" />
        <p> <b>honest woman</b> </br> <span>Igne Moore</span></p>
        <p>18+ downloads</p>
      </div>
    </div>
    <button class="view_all"><a href="{{url_for('admin.categories')}}">View all categories</a></button>
  </div>
</div>
{% endblock %}