{% extends "/admin/base_admin.html" %} {%block title %}Report{% endblock %}
{%block main %}

<h1>Library Statistics</h1>
<!-- ========== PROJECTS =========== -->
<section id="total">
  <!-- <div id="body-section"> -->
  <div class="reports statistics">
    <div class="category num_books">
      <p class="number">{{ total_books }}</p>
      <p class="category_title">Total Books</p>
    </div>

    <div class="category book_categories">
      <p class="number">{{ total_categories }}</p>
      <p class="category_title">Total Categories</p>
    </div>

    <div class="category num_users">
      <p class="number">{{ total_users }}</p>
      <p class="category_title">Total Users</p>
    </div>

    <div class="category video">
      <p class="number">{{ total_videos }}</p>
      <p class="category_title">Total Videos</p>
    </div>

    <div class="category rentals">
      <p class="number">{{ total_rentals }}</p>
      <p class="category_title">Total Rentals</p>
    </div>

    <div class="category avg-rentals">
      <p class="number">{{ avg_rental_duration }}</p>
      <p class="category_title">Average Rental Duration</p>
    </div>
  </div>
</section>

<!-- ========== FREELANCE HEALTH SECTION =========== -->
<section id="requests">
  <div>
    <!-- ========= SEMI CIRCLES ========= -->
    <div id="percentage-circles">
      <div
        class="circle-1 bigger-circle"
      style="--perc-1:{{(rented_books_per * 1.8) - 45}}deg"
      >
        <p>
          {{rented_books_per}}% <br />
          <span>Rented Books</span>
        </p>
      </div>

      <div
        class="circle-2 bigger-circle"
        style="--perc-2:{{(book_to_video_per * 1.8) - 45}}deg"
      >
        <p>
          {{book_to_video_per}}% <br />
          <span>Books to video</span>
        </p>
      </div>

      <div class="circle-3 bigger-circle" style="--perc-3:{{(active_users * 1.8) - 45}}deg">
        <p>
          {{active_users}}% <br />
          <span>Active users</span>
        </p>
      </div>
    </div>

    <!-- ======= STRT LINE ======== -->
    <div id="percentage-linear">
      <div class="perc">
        <div
          class="big-line line-1"
         style="--perc-4:{{rented_books_per}}%"
        ></div>
        <p>{{rented_books_per}}% Rented books</p>
      </div>

      <div>
        <div
          class="big-line line-2"
        style="--perc-5:{{book_to_video_per}}%"
        ></div>
        <p>{{book_to_video_per}}% of Books to Video</p>
      </div>

      <div>
        <div class="big-line line-3" style="--perc-6:{{active_users}}%"></div>
        <p>{{active_users}}% Users are active</p>
      </div>
    </div>
    <!-- PAID UNPAID UN....... COMPLETED -->
    <div class="description">
      <div class="t-des">
        <span></span>
        <p>Rented books</p>
      </div>

      <div class="t-des">
        <span></span>
        <p>Percentage of books to video</p>
      </div>

      <div class="t-des">
        <span></span>
        <p>Active Users</p>
      </div>
    </div>
  </div>
</section>

<!-- ======= TOTAL INCOME ======== -->
<section id="weekly-charts">
  <div class="increase">
    <div class="increase-div white-2">
      <i class="bi bi-calendar-x"></i>
      <p class="downloads">
        {{rentals_due_today}}
        <span class="desc">Rentals due today</span>
      </p>
    </div>

    <div class="increase-div white-2">
      <i class="bi bi-calendar-range"></i>
      <p class="users">
        {{ rentals_due_soon }} 
        <span class="desc">Rentals due in a week</span>
      </p>
    </div>
  </div>

  <!-- CHART SECTION 2 in monthly income -->
  <div class="chart-section-2">
    <div class="money-made">
      <ul class="values">
        <li>15+</li>
        <li>12</li>
        <li>9</li>
        <li>6</li>
        <li>3</li>
        <li>0</li>
      </ul>
    </div>

    <div class="monthly-bars">

      <div class="bars">
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>

      <div class="days">
        <p>Mon</p>
        <p>Tue</p>
        <p>Wed</p>
        <p>Thu</p>
        <p>Fri</p>
        <p>Sat</p>
        <p>Sun</p>
      </div>
    </div>
  </div>
</section>
<div class="description">
  <div class="t-des">
    <span></span>
    <p>New Users</p>
  </div>

  <div class="t-des">
    <span></span>
    <p>Downloads</p>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script class="flashes {{ category }}">
 " {% for category, message in messages %}"
  alert("{{ message }}")
  "{% endfor %}"
</script>
{% endif %} {% endwith %} {% endblock %}
