{% extends "/admin/base_admin.html" %} {%block title %}Dashboard{% endblock %}
{% block main %}

<h1>Requests</h1>
<div>
  <div class="requests table">
    <table class="requests_table">
      <thead>
        <tr>
          <th>Request Id</th>
          <th>Book Id</th>
          <th>User Id</th>
          <th>Specify due date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      {% for access_request in access_requests %}
      <tr>
        <td>{{ access_request.id }}</td>
        <td>{{ access_request.book.title }}</td>
        <td>{{ access_request.user_id }}</td>
        <td>
          <select name="" id="days">
            <option disabled>Select due date</option>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="21">21 days</option>
            <option value="28">28 days</option>
          </select>
        </td>
        <td>
          <form class="grant-request" action="/grant-access-request/<int:request_id>" method="post">
            <input style="display:none" type="number" name="due_date" id="due_date" value="">
            <button type="submit">Accept Request</button>
          </form>
        </td>
        <td>
          <form action="/reject-access-request/<int:request_id>" method="post">
            <button type="submit">Reject Request</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div class="empty hidden">
      <h1>NOTHING YET</h1>
      <i class="bi bi-emoji-frown-fill"></i>
    </div>
  </div>
</div>
{% endblock %}