{% extends "/admin/base_admin.html" %}
{%block title %}Users{% endblock %}

{% block main %}
<div class="main-top" style="margin-bottom: 2rem;">
  <div class="search-bar">
    <label for="d_search"></label>
    <input
      type="search"
      name=""
      id=""
      placeholder="Search Users"
    />
    <i></i>
  </div>
  
  <div style="padding:1rem 1rem 0; background-color: var(--secondary-color); vertical-align: middle; border-radius: .4rem;">
    <p style="font-size:1rem; color: var(--light-primary-color);">Total users: {{total_users}}</p>
  </div>
</div>

  <div class="all_users table">
    <table class="users_table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email Address</th>
        </tr>
      </thead>

      {% for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="empty {{ 'hidden' if total_users > 0 }}">
      <h1>NOTHING YET</h1>
      <i class="bi bi-emoji-frown-fill"></i>
    </div>
  </div>
{% endblock %}
