{% extends "/admin/base_admin.html" %}
{%block title %}Users{% endblock %}

{% block top %}
<div class="main-top">
  <div class="search-bar">
    <label for="d_search"></label>
    <input
      type="search"
      name=""
      id=""
      placeholder="Search Users"
    />
    <i></i>
  </div>

</div>
{% endblock %}

{% block content %}
  <div class="all_users table">
    <table class="users_table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email Address</th>
        </tr>
      </thead>

      {% for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="empty {{ 'hidden' if total_users > 0 }}">
      <h1>NOTHING YET</h1>
      <i class="bi bi-emoji-frown-fill"></i>
    </div>
  </div>
  
{% endblock %} {%block content2 %}
<div class="users_statistics statistics">
  <div class="category num_users">
    <p class="number">0</p>
    <p class="category_title">Total Users</p>
  </div>
  <div class="category verfied_users">
    <p class="number">0</p>
    <p class="category_title">Verified Users</p>
  </div>
  <div class="category inactive_users">
    <p class="number">0</p>
    <p class="category_title">Inactive Users</p>
  </div>
</div>
{% endblock %}
