{% extends "/admin/base_admin.html" %} {%block title %}Books{% endblock %} {%
block main %}
<div class="main-top">
  <div class="search-bar">
    <label for="d_search"></label>
    <input type="search" name="" id="" placeholder="Search videos" />
    <i></i>
  </div>

  <div class="add-buttons">
    <button class="add">
      <a href="{{url_for('admin.new_video')}}">
        <i class="bi bi-play-btn"></i>
        Add Video
      </a>
    </button>
  </div>
</div>

<div class="all-videos">
  {% for video in videos %}
  <div class="video-container">
    <video controls>
      <source src="/static/videos/{{video.file_path}}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="desc">
      <p><b>Title:</b> {{ video.title }}</p>
      <p><b>Description:</b> {{ video.description }}</p>

      <form action="/admin/videos/{{video.id}}/edit" method="get">
        <button type="submit">Edit</button>
      </form>

      <form action="/admin/videos/{{video.id}}/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
