{% extends "base_admin.html" %}
{%block title %}Dashboard{% endblock %} 

{% block main %}
{% if book == True %}
<form action="POST">
    <h2>New Book</h2>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Book title" />
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <input class="form-control" type="text" name="author" id="author" placeholder="Book Author"/>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input class="form-control" type="text" name="category" id="category" placeholder="Category of Book" />
  </div>

  <div class="form-group">
    <label for="pages">No. of pages</label>
    <input class="form-control" type="text" name="pages" id="pages" placeholder="Pages" />
  </div>

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input class="form-control" type="text" name="isbn" id="isbn" placeholder="ISBN" />
  </div>

  <div class="form-group">
    <label for="cover-img">Cover Image</label>
    <input class="form-control" type="file" accept="image/*" alt="" placeholder="Image"/>
  </div>
  <button type="submit" class="auth-btn">Save</button>
</form>
{% endif %} 

{% if video == True %}
<form action="POST">
     <h2>New Video</h2>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Video title" />
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <input class="form-control" type="text" name="desc" id="desc" placeholder="Video Description"/>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input class="form-control" type="" name="category" id="category" placeholder="Category of video"/>

      <ul class="dropdown-menu text-small category-menu">
    <li>
      <a class="dropdown-item" href="/edit_account">Edit Account</a>
      <a class="dropdown-item" href="/change_password">Change Password</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
  </ul>
  </div>
  <div class="form-group">
    <label for="video">Video</label>
    <input  class="form-control" type="file" name="video" accept="video/*" alt="" id="video" />
  </div>
  <button type="submit" class="auth-btn">Save</button>
</form>
{% endif %} {% if category == True %}
<form action="POST">
    <h2>New Category</h2>
  <div class="form-group">
    <label for="category">Name</label>
    <input class="form-control" type="text" name="category" id="category" placeholder="Category Name" />
  </div>
  <button type="submit" class="auth-btn">Save</button>
</form>
{% endif %} 

{% if edit_acc == True %}
<form action="POST">
     <h2>Edit Account</h2>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input class="form-control" type="text" name="firstname" id="firstname" placeholder="First name" />
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Last name"/>
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input class="form-control" type="text" name="email" id="email" placeholder="Email Adrdress"/>
  </div>
  <button type="submit" class="auth-btn">Save Changes</button>
</form>
{% endif %} 
{% endblock %}
