{% extends "base_auth.html" %}
{%block title %}{{ 'Change Password' if boolean else 'Reset Password' }}{% endblock %}

{% block content2 %}
    <h2>{{ 'Change Your Password' if boolean else 'Reset Password' }}</h2>
        {% if boolean == True %}
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password"> </input>

        <label for="confirm_password">Confirm Password</label>
    
        {% endif %}
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password"> </input>

        <label for="confirm_password">Confirm Password</label>
        <input type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"></input>

        <button type="submit">Change Password</button>
{% endblock %}

{% block content3 %}
<img src="/static/images/IMG-20230422-WA00{{ 19 if boolean else 20 }}.jpg" alt="">
{% endblock %}
