{% extends "base_user.html" %} 

{% block main %}
<h3>Dashboard</h3>
<p>Welcome back</p>

<img src="" alt="">
<div>
    <div class="navigation"> 
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="discover_books">
        <div class="book_d">
            <img src="" alt="">
            <div class="about_book_d">
                <p class="title"></p>
                <p class="blurb"></p>
                <button class="download">Download</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}