{% extends "base_auth.html" %}
{%block title %}Sign Up{% endblock %}

{% block content2 %}
    <h2>Welcome Back</h2>
    <p>The faster you</p>
    <div>
        <label for="name">Name</label>
        <input type="name" id="name" name="name" placeholder="Enter your name"></input>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Email Address"></input>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password"> </input>

        <label for="confirm_password">Confirm Password</label>
        <input type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"></input>

        <label for="passkey">Enter PassKey</label>
        <input type="passkey" id="passkey" name="passkey" placeholder="PassKey"></input>

        <button type="submit">Login</button>
    </div>
    <p>Already have an account? <a href="/login">Login</a></p>
{% endblock %}

{% block content3 %}
    <img src="/static/images/sign-up-img.jpg" alt="">
{% endblock %}