{% extends "/auth/base_auth.html" %} {%block title %}Login{% endblock %} {% block
content2 %}
<h2>Welcome Back</h2>
<p>We're glad your back</p>
<div class="form-group">
  <label for="email">Email</label>
  <input
    class="form-control"
    type="email"
    id="email"
    name="email"
    placeholder="Email Address"
  />
</div>

<div class="form-group pass">
  <label for="password">Password</label>
  <input
    class="form-control"
    type="password"
    id="password"
    name="password"
    placeholder="Enter Password"
  />
  <i class="bi bi-eye"></i>
</div>

<div class="idk">
  <div class="form-group">
    <input class="check" type="checkbox" name="remember_me" id="remember_me" />
    <label for="remember_me">Remember me</label>
  </div>

  <a href="/reset_password">Forgot password</a>
</div>
<button type="submit" class="auth-btn">Login</button>
<p>Don't have an account? <a href="/register">Register</a></p>
{% endblock %} {% block content3 %}
<img src="/static/images/login-img.jpg" alt="" />

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script class="flashes {{ category }}">
 " {% for category, message in messages %}"
  alert("{{ message }}")
  "{% endfor %}"
</script>
{% endif %} {% endwith %} {% endblock %}
