{% extends "/base_dashboard.html" %} {%block title %} User {% endblock %}
{%block profile%}
<div class="user-profile">
  <div class="">
    <img src="/static/images/purple-abstract-img.png" alt="" width="50" />
  </div>
  <h3 class="fullname">{{ user.name }}</h3>
  <p class="username">{{ user.email }}</p>
</div>
{% endblock %} {% block sidebar %}
<ul class="nav nav-pills flex-column mb-auto">
  <li>
    <a href="{{url_for('user.dashboard')}}" class="nav-link big {{d_active}}">
      <i class="bi bi-speedometer2 me-2"></i>
      Dashboard
    </a>
  </li>
  <li>
    <a href="{{url_for('user.dashboard')}}" class="nav-link small {{d_active}}">
      <i class="bi bi-speedometer2 me-2"></i>
    </a>
  </li>
  <li>
    <a href="{{url_for('user.discover')}}" class="nav-link big {{di_active}}">
      <i class="bi bi-compass me-2"></i>
      Discover
    </a>
  </li>
  <li>
    <a href="{{url_for('user.discover')}}" class="nav-link small {{di_active}}">
      <i class="bi bi-compass me-2"></i>
    </a>
  </li>
  <li>
    <a href="{{url_for('user.requests')}}" class="nav-link big {{r_active}}">
      <i class="bi bi-hand-index me-2"></i>
      Requests
    </a>
  </li>
  <li>
    <a href="{{url_for('user.requests')}}" class="nav-link small {{r_active}}">
      <i class="bi bi-hand-index me-2"></i>
    </a>
  </li>
</ul>
<hr />
<div class="dropdown">
  <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle user" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-gear me-2"></i>
    <strong>Settings</strong>
  </a>
  <ul class="dropdown-menu text-small shadow admin-settings">
    <li>
      <a class="dropdown-item" href="{{url_for('user.user_profile')}}">Edit Profile</a>
      <a class="dropdown-item" href="{{url_for('auth.change_password')}}">Change Password</a>
    </li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <a class="dropdown-item" href="{{url_for('auth.logout')}}">Sign out</a>
    </li>
  </ul>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script class="flashes {{ category }}">
 " {% for category, message in messages %}"
  alert("{{ message }}")
  "{% endfor %}"
</script>
{% endif %} {% endwith %} {% endblock %}
