{% extends "user/base_user.html" %} {%block title %}Dashboard{% endblock %} {%
block main %}
<div class="details-header">
    <h2>Details</h2>
    <a href="{{url_for('user.discover')}}"><i class="bi bi-x-circle-fill"></i></a>
</div>
<div class="book-details-container">
  <img src="/static/images/covers/{{ book.cover_path }}" alt=""  width="100"/>
  <div class="book-details">
      <p class="blurb">{{ book.description }}</p>
      <p class="title">{{ book.title }}</p>
    <p class="author">{{ book.author }}</p>
    <form action="books/{{book.id}}/request-access" method="post">
      <button class="download" type="submit">Request book</button>
    </form>
  </div>
</div>
{% endblock %}
