{% extends "./user/base_user.html" %} {% block main %}
<h3>Dashboard</h3>
<p>Welcome, Let's get to it</p>

<div class="statistics">
  <div class="main">
    <div class="category num_books">
      <p class="number">{{ total_rented_books }}</p>
      <p class="books-read">Books Available</p>
    </div>
    <div class="category num-downloaded">
      <p class="number">{{ download_count }}</p>
      <p class="downloaded-books">Books Available for Download</p>
    </div>
    <div class="category num_downloads">
      <p class="number">{{ access_requests + download_requests }}</p>
      <p class="requests">Requests</p>
    </div>
  </div>
</div>

<div class="user-items navigate-books">
  <div class="navigation" id="navbarNav">
    <ul class="nav">
      <li class="nav-item active">
        <a href="#books" class="nav-link">My Books</a>
      </li>
      <li class="nav-item">
        <a href="#videos" class="nav-link">My Videos</a>
      </li>
    </ul>
  </div>

  <div class="users-books" id="books">
    {% for book in rented_books %}
    <div class="book">
      <div class="about-book">
        <img src="/static/images/covers/{{book.cover_path}}" alt="" />
        <div>
          <p class="book_title">{{book.title}}</p>
          <p class="book_author">{{book.author}}</p>
        </div>
      </div>
      <div class="actions">
        <form action="/user/books/{{ book.id }}/read" method="get">
          <button href="">Read Book</button>
        </form>
        {% if book.downloadable %}
        <form action="/user/books/{{ book.id }}/download" method="get">
          <button type="submit">Download</button>
        </form>
        {% else %}
        <form action="/user/books/{{ book.id }}/download-request" method="post">
          <button type="submit">Request Download</button>
        </form>
        {% endif %}
        <p>Expires in {{book.date_due}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="users-videos inactive-content" id="videos">
    {% for video in videos %}
    <div class="video">
      <img src="/static/images/covers/{{video.cover_path}}" alt="" />
      <p><strong>Title:</strong> {{video.title}}</p>
      <p><strong>Description:</strong> {{video.description}}</p>
      <i class="bi bi-play-fill"></i>

      <div class="actions">
        <form action="/user/videos/{{ video.id }}/watch" method="get">
          <button type="submit">Watch Video</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script class="flashes {{ category }}">
 " {% for category, message in messages %}"
  alert("{{ message }}")
  "{% endfor %}"
</script>
{% endif %} {% endwith %} {% endblock %}
