{% extends "user/base_user.html" %} {% block main %}
<h3>Discover</h3>
<p>Knows which author and books to look out for</p>

<div class="statistics discover-img">
  <div class="main">
    <div class="category img"></div>
    <div class="category img"></div>
  </div>
</div>

<div class="navigate-books">
  <div class="navigation" id="navbarNav">
    <ul class="nav">
      <li class="nav-item active">
        <a href="#" class="nav-link">Most Popular</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">See All</a>
      </li>
    </ul>
    <form class="form-inline my-2 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search users, authors, titles" aria-label="Search">
    </form>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="discover-books">
    {% for book in random_books %}
    <div class="book-d">
      <img src="/static/images/covers/{{ book.cover_path }}" alt="" />
      <div class="about-book-d">
        <p class="title"><strong>{{ book.title }}</strong></p>
        <p class="blurb">{{ book.author }}</p>
        <button class="btn download" onclick="requestAccess(book.id)">Request</button>
        <a class="btn more" href="#">View More</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}