{% extends "user/base_user.html" %}
{%block title %}Dashboard{% endblock %}

{% block main %}

<h1>Requests</h1>
<div>
    <div class="requests table">
        <table class="requests_table">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Date requested</th>
                </tr>
            </thead>

            {% for access_request in access_requests %}
            <tr>
                <td>{{ access_request.book.title }}</td>
                <td>{{ access_request.date_requested }}</td>
            </tr>
            {% endfor %}
            {% for download_request in download_requests %}
            <tr>
                <td>-</td>
                <td>{{ download_request.date_requested }}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="empty {{'hidden' if total_requests > 0}}">
            <h1>NO REQUESTS</h1>
            <i class="bi bi-emoji-frown-fill"></i>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script class="flashes {{ category }}">
 " {% for category, message in messages %}"
  alert("{{ message }}")
  "{% endfor %}"
</script>
{% endif %} {% endwith %} {% endblock %}
