{% extends "base_user.html" %}

{% block main %}
<h3>Dashboard</h3>
<p>Welcome back</p>

<div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div>
  <div>
    <h3></h3>
    <button></button>
    <button></button>
  </div>
  <div class="users_books">
    <div class="book">
      <div class="about_book">
        <img src="" alt="" />
        <p class="book_title"></p>
        <p class="book_author"></p>
      </div>

      <div class="progress">
        <progress></progress>
        <p>Progress: <span class="percentage"></span></p>
      </div>

      <div class="action">
        <button></button>
        <button></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
